<?xml version="1.0"?>
<model>
  <name>euro_pallet</name>
  <version>1.0</version>
  <sdf version='1.7'>pallet_rack.sdf</sdf>

  <author>
    <name>Elmeri Pohjois-Koivisto</name>
    <email>elmeri.pohjois-koivisto@tuni.fi</email>
  </author>

  <description>
    A rack for euro pallets
  </description>
</model>
