
*{
    font-size: 12px;
    font-family: "Ubuntu";
}

QPushButton:hover{
    background-color: #F4AA90;
}

QTextEdit{
    font-family: "Ubuntu Mono";
    font-size: 16px;
    font-weight: 500;
}

QPushButton {
    background-color: none;
    color: black;
    padding: 10px;
    font-weight: 600;
    margin: 0px;
}

QPushButton[class="view-control"]{
    border: 1px solid transparent;
    text-align: left;
}

QPlainTextEdit{
    color: black;
}