<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:include filename="robot_core.xacro" />
    
    <gazebo>
        <plugin
        filename="gz-sim-diff-drive-system"
        name="gz::sim::systems::DiffDrive">
            <left_joint>left_wheel_joint</left_joint>
            <left_joint>left_wheel_back_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            <right_joint>right_wheel_back_joint</right_joint>
            <wheel_separation>0.3</wheel_separation>
            <wheel_radius>0.05</wheel_radius>
            <odom_publish_frequency>1</odom_publish_frequency>
            <topic>cmd_vel</topic>
            <odom_topic>pos</odom_topic>
        </plugin>

        <plugin
        filename="gz-sim-odometry-publisher-system"
        name="gz::sim::systems::OdometryPublisher">
            <odom_frame>base_link</odom_frame>
        </plugin>

        <plugin
        filename="gz-sim-odometry-publisher-system"
        name="gz::sim::systems::OdometryPublisher">
            <odom_frame>base_link</odom_frame>
            <robot_base_frame>left_wheel</robot_base_frame>
            <odom_topic>test</odom_topic>
        </plugin>

        <plugin filename="gz-sim-odometry-publisher-system" name="gz::sim::systems::OdometryPublisher" >
            <odom_frame>world</odom_frame>
            <robot_base_frame>forklift/left_wheel</robot_base_frame>
            <odom_publish_frequency>10</odom_publish_frequency>
            <odom_topic>/model/forklift/left_wheel/odometry</odom_topic>
          </plugin>
        
        <!--
        <plugin
            filename="gz-sim-pose-publisher-system"
            name="gz::sim::systems::PosePublisher">
            <publish_link_pose>true</publish_link_pose>
            <publish_collision_pose>false</publish_collision_pose>
            <publish_visual_pose>false</publish_visual_pose>
            <publish_nested_model_pose>true</publish_nested_model_pose>
        </plugin>
        -->

      <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
          <topic>joint_states</topic>
      </plugin>

      <plugin filename="gz-sim-joint-position-controller-system" name="gz::sim::systems::JointPositionController">
        <joint_name>fork_plate_joint</joint_name>
        <topic>fork_control</topic>
        <initial_position>0.6</initial_position>
      </plugin>

    </gazebo>  
    
</robot>
