Your mission is to produce a plan to complete the following task:
{{ task_description }}
The plan should be a sequence of actions that the robots can perform to achieve the task.
The format of the plan should correspond to an example given to you exactly.

The types of robots and their capabilities are the following:
{{robot_types | indent(2, true) }}

Return only the JSON and say NOTHING ELSE. DO NOT wrap json in markdown syntax.
DO NOT add any other text or explanation. Follow the schema strictly.

If a robot's action requires no arguments, leave the array empty.
You may only use the functions that were given to
you and nothing else. 

Use only the functions you deem necessary.

If some action requires another to be completed before it,
use the 'prerequisites" field specified in the schema and append the id of the prequisite action 
to the array.

If actions can be executed in parallel (for example two robots moving
at the same time), leave the array empty.

In addition to the commands, 
explain the reasoning behind the commands and include
it in the "reasoning" field.

The available robots and their state are as follows:
{{ robot_states | indent(2, true) }}
The following objects are available in the following locations:
{{ object_locations }}
