<?xml version="1.0" encoding="UTF-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="wheel_width" value="0.15" />
    <xacro:property name="wheel_radius" value="0.25" />
    <xacro:include filename="inertial_macros.xacro" />
    <xacro:macro name="wheel" params="name mass scale x y z roll">
       

  <joint name="${name}_joint" type="continuous">
    <parent link="base_link" />
    <child link="${name}" />
    <origin xyz="${x} ${y} ${z}" rpy="-${pi/2} 0 ${roll}" />
    <origin xyz="${x} ${y} ${z}" rpy="-${pi/2}} 0 ${roll}" />
    <axis xyz="0 0 -1" />
  </joint>

  <link name="${name}">
    <visual>
      <origin xyz="0 0 0" rpy="-${pi/2} 0 0" />
      <geometry>
        <!--The
        package resolves into install/forklift_controller/share/forklift_controller/-->
        <mesh filename="package://forklift_controller/models/forklift/meshes/wheel_correct_scale.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="${wheel_radius}" length="${wheel_width}" />
      </geometry>
    </collision>
    <xacro:inertial_cylinder mass="5" radius="${wheel_radius}" length="${wheel_width}">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:inertial_cylinder>
  </link>
        
        





    </xacro:macro>

</robot>