<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="plugins" params="namespace">

    <gazebo>

      <!-- <plugin
      filename="gz-sim-pose-publisher-system"
      name="gz::sim::systems::PosePublisher">
      <publish_link_pose>true</publish_link_pose>
      <publish_collision_pose>false</publish_collision_pose>
      <publish_visual_pose>false</publish_visual_pose>
      <publish_nested_model_pose>false</publish_nested_model_pose>
      <use_pose_vector_msg>true</use_pose_vector_msg>
    </plugin> -->

      <plugin
        filename="gz-sim-diff-drive-system"
        name="gz::sim::systems::DiffDrive">

        <left_joint>left_wheel_joint</left_joint>
        <left_joint>left_wheel_back_joint</left_joint>
        <right_joint>right_wheel_joint</right_joint>
        <right_joint>right_wheel_back_joint</right_joint>
        <wheel_separation>0.890</wheel_separation>
        <wheel_radius>0.25</wheel_radius>
        <odom_publish_frequency>30</odom_publish_frequency>
        <!-- <odom_topic>${namespace}/odom</odom_topic> -->
        <frame_id>odom</frame_id>
        <!-- <tf_topic>${namespace}/tf</tf_topic> -->
        <topic>${namespace}/cmd_vel</topic>
        <child_frame_id>base_link</child_frame_id>

        <max_linear_acceleration>10</max_linear_acceleration>
        <min_linear_acceleration>-10</min_linear_acceleration>
        <max_angular_acceleration>20</max_angular_acceleration>
        <min_angular_acceleration>-20</min_angular_acceleration>
        <max_linear_velocity>6</max_linear_velocity>
        <min_linear_velocity>-0.5</min_linear_velocity>
        <max_angular_velocity>10</max_angular_velocity>
        <min_angular_velocity>-10</min_angular_velocity>
      </plugin>

      <!--Ground truth odom instead of the "realistic" odom provided by diff drive-->
      <plugin
        filename="gz-sim-odometry-publisher-system"
        name="gz::sim::systems::OdometryPublisher">
        <dimensions>2</dimensions>
        <odom_topic>$(arg namespace)/odom</odom_topic>
        <tf_topic>$(arg namespace)/tf</tf_topic>
        <robot_base_frame>base_link</robot_base_frame>
        <!--This
        will be namespaced by ros2 system and nav2 expects this to be of the form namespace/odom
        (namespace is optional)-->
        <odom_frame>odom</odom_frame>
        <!--Publish
        odom ten times a second-->
        <odom_publish_frequency>10</odom_publish_frequency>
    </plugin>



      <plugin filename="gz-sim-joint-state-publisher-system"
        name="gz::sim::systems::JointStatePublisher">
        <!--
      <joint_name>left_wheel_joint</joint_name>
      <joint_name>right_wheel_joint</joint_name>
      <joint_name>left_wheel_back_joint</joint_name>
      <joint_name>right_wheel_back_joint</joint_name>
      <joint_name>fork_attach_1_joint</joint_name>
      <joint_name>fork_attach_2_joint</joint_name>
      <joint_name>fork_1_joint</joint_name>
      <joint_name>fork_2_joint</joint_name>
      <joint_name>fork_plate</joint_name>
      -->
        <!-- <joint_name>fork_plate</joint_name> -->
        <topic>${namespace}/joint_states</topic>
      </plugin>


      <plugin filename="gz-sim-joint-position-controller-system"
        name="gz::sim::systems::JointPositionController">
        <joint_name>fork_plate_joint</joint_name>
        <initial_position>0.0</initial_position>
        <topic>${namespace}/fork_control</topic>
        <p_gain>40000</p_gain>
        <i_gain>2000</i_gain>
        <d_gain>5000</d_gain>
        <i_min>-2000</i_min>
        <i_max>2000</i_max>
        <cmd_min>-80000</cmd_min>
        <cmd_max>120000</cmd_max>
      </plugin>


    </gazebo>
  </xacro:macro>

</robot>