<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="inertial_macros.xacro" />
  <xacro:include filename="fork.xacro" />
  <xacro:include filename="wheel.xacro"/>

  <material name="white">
    <color rgba="1 1 1 1" />
  </material>

  <!-- BASE LINK -->

  <xacro:property name="scaler" value="1.0" />
  <xacro:property name="base_height" value="2" />
  <xacro:property name="base_width" value="0.895" />
  <xacro:property name="base_length" value="2.29" />
  
  <material name="darkgray">
    <color rgba="0.01 0.01 0.01 1" />
  </material>

  <xacro:property name="fork_mass" value="15" />

  <!--See: https://github.com/ros-navigation/navigation2_tutorials/blob/rolling/sam_bot_description/src/description/sam_bot_description.urdf -->
  <!--From nav2 docs: 
  "We will also be using the box_inertia macro we defined before to add some inertial properties 
  to our base_link. The kdl_parser package used in robot_state_publisher
  doesn’t like inertial properties being specified in the root link, 
  in this case the base_link, to combat this we will be including them in the base_footprint instead.
  Include the following code snippet within <link name="base_footprint"> tag of base_footprint in our URDF." 
  -->

  <link name="base_footprint">
    <!--MASS HERE IS TOTALLY INACCURATE BUT WITH THE REAL MASS OF 1500, ROBOT WAS UNABLE TO TURN,
    SHOULD BE TUNED IN BOTH NAV2 AND GZ SIM DIFF DRIVE IN THE FUTURE-->
    <xacro:inertial_box mass="50" x="${base_length}" y="${base_width}" z="${base_height}">
      <origin xyz="-0.1 0 ${0.35+0.25}" rpy="0 0 0" />
    </xacro:inertial_box>
  </link>

  <joint name="base_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="base_footprint" />
    <!--Set the base_footprint down to wheel axis level + half the wheel radius to be exactly at the bottom-->
    <origin xyz="0 0 -${0.35+0.25}" rpy="0 0 0" />
  </joint>

  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" />
      <geometry>
        <mesh filename="package://forklift_cpp/models/forklift/meshes/body_correct_scale.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" />
      <geometry>
        <mesh filename="package://forklift_cpp/models/forklift/meshes/body_correct_scale.dae"/>
      </geometry>
    </collision>
    
  </link>

  <xacro:property name="plate_width" value="0.885"/>
  <xacro:property name="plate_height" value="1.290"/>
  <xacro:property name="plate_length" value="0.1"/>


  <link name="fork_plate">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://forklift_cpp/models/forklift/meshes/fork_plate_correct_scale.dae"
        scale="1 1 0.77"
        />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="${plate_length} ${plate_width} ${plate_height}" />
      </geometry>
    </collision>
    <xacro:inertial_box mass="50" x="${plate_length}" y="${plate_width}" z="${plate_height}">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:inertial_box>
  </link>

  <joint name="fork_plate_joint" type="prismatic">
    <parent link="base_link" />
    <child link="fork_plate" />
    <origin xyz="1.15 0 0.09" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit effort="2500" lower="0.0" upper="5.0" velocity="0.5" />
  </joint>

  <xacro:fork id="1" mass="15" scale="1" fork_attach_offsets="0.05 0.2 -0.35"></xacro:fork>
  <xacro:fork id="2" mass="15" scale="1" fork_attach_offsets="0.05 -0.2 -0.35"></xacro:fork>

  <xacro:wheel name="right_wheel" mass="5" scale="1" x="0.8" y="-0.4" z="-0.35" yaw="${pi/2}" axis="-1"></xacro:wheel>
  <xacro:wheel name="right_wheel_back" mass="5" scale="1" x="-0.65" y="-0.4" z="-0.35" yaw="${pi/2}" axis="-1"></xacro:wheel>
  <xacro:wheel name="left_wheel" mass="5" scale="1" x="0.8" y="0.4" z="-0.35" yaw="-${pi/2}"  axis="-1"></xacro:wheel>
  <xacro:wheel name="left_wheel_back" mass="5" scale="1" x="-0.65" y="0.4" z="-0.35" yaw="-${pi/2}" axis="-1"></xacro:wheel>
  
  <gazebo>
    <!--
    <plugin filename="gz-sim-touchplugin-system"
      name="gz::sim::systems::TouchPlugin">
      <target>cube</target>
      <time>0.001</time>
      <enabled>true</enabled>
     <namespace>$(arg namespace)</namespace> 
    </plugin>
  -->
  </gazebo>
  
  <gazebo reference="fork_plate">
    <sensor name='sensor_contact' type='contact'>
      <contact>
        <collision>fork_plate_fixed_joint_lump__fork_1_collision_1</collision>
      </contact>
    </sensor>
  </gazebo>

  <link name="rplidar_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.03" length="0.03"></cylinder>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.03" length="0.03"></cylinder>
      </geometry>
    </collision>
    <xacro:inertial_cylinder mass="0.1" length="0.03" radius="0.03">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:inertial_cylinder>
  </link>

  <joint name="rplidar_joint" type="fixed">
    <parent link="base_link" />
    <child link="rplidar_link" />
    <origin xyz="0 0 1.5" rpy="0 0 0" />
  </joint>


  <gazebo reference="rplidar_link">
    <sensor name="rplidar" type="gpu_lidar">
      <update_rate>10.0</update_rate>
      <visualize>true</visualize>
      <always_on>true</always_on>
      <gz_frame_id>rplidar_link</gz_frame_id>
      <topic>$(arg namespace)/scan</topic>
      <lidar>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1.0</resolution>
            <min_angle>0.000</min_angle>
            <max_angle>6.280000</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.164</min>
          <max>20.0</max>
          <resolution>0.01</resolution>
        </range>
      </lidar>
    </sensor>
  </gazebo>

  <!-- <gazebo reference="rplidar_joint">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo> -->

  <!--https://medium.com/@alitekes1/gazebo-sim-plugin-and-sensors-for-acquire-data-from-simulation-environment-681d8e2ad853-->

  <!--
  <gazebo reference="fork_plate_joint">
    <disableFixedJointLumping>true</disableFixedJointLumping>
  </gazebo>
  -->

</robot>